.header {
  min-height: 60px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 24px;
  color: white;

  position: sticky;
  top: 0;
}

.link {
  position: relative;
  padding: 10px 0;
  transition: var(--animat);
}

.link::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: var(--animat);
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}
